name: Bioconda Recipe Check

on:
  workflow_run:
    workflows: [ "Pylint" ]  # must match the `name:` at the top of pylint.yml
    types:
      - completed

jobs:
  bioconda:
    name: Bioconda Recipe Test
    # only run if the Pylint workflow succeeded
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    container:
      image: quay.io/bioconda/bioconda-utils-build-env:latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Show bioconda-utils version
        run: bioconda-utils --version

      - name: Lint recipe (Bioconda style)
        working-directory: bioconda
        run: |
          bioconda-utils lint recipes config.yml \
            --packages genome_profiler

      - name: Build & test recipe (Bioconda style)
        working-directory: bioconda
        run: |
          bioconda-utils build recipes config.yml \
            --packages genome_profiler \
            --docker \
            --mulled-test \
            --loglevel=info
